header{
    background-color: rgb(185, 255, 119);
    padding: 1%;
    text-align: center;
    border-top: 10px solid rgb(105, 158, 56);
    border-bottom: 10px solid rgb(105, 158, 56);
    color: black;
}

.imagen-inline{
    width: 100px;
    height: auto;
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 5px;
}

.navbar ul{ 
    background-color: rgb(185, 255, 119);
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.btn-nav{
    background-color: rgb(147, 216, 82);
    color: black;
    border: 1px solid rgb(108, 179, 43);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer
}

.btn-nav:hover{
    background-color: rgb(108, 179, 43);
}

.contenedor {
    display: flex;
    width: 100vw;
}

.articulo {
    background-color: rgb(217, 255, 182);
    flex: 3;
    padding: 20px;
}
.pie {
    background-color: rgb(217, 255, 182);
    border-top: 3px solid rgb(108, 179, 43);
    border-bottom: 3px solid rgb(108, 179, 43);
}

.propaganda {
    background-color: rgb(205, 255, 158);
    flex: 1;
    padding: 20px;
}

.body {
    margin: 0;
}

.color_letra{
    text-decoration: none;
    color: black;
}

